.boxes {
    display:table;
    width: 100%;
    height: 100%;
}
.box {
    width: 50%;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align:middle;
    /*line-height: 13em;*/
}
.enemy {
    background-color: rgb(104, 169, 139);
}
.player {
    background-color: rgb(185, 122, 87);
}
.widthCenter {
    text-align: center;
}
.heightCenter {
    vertical-align: middle;
    /*margin-top: 30%;*/
}
.heightBottom {
    vertical-align: bottom;
}
.button {
    position: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
    margin: 10px 20px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    transition: .3s;
    background-color: rgb(255, 124, 71);
    color: #000000;
}
.imgSize {
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.imgDown {
    vertical-align: bottom;
    margin-top: 57%;
}
.addressInput {
    width: 70%;
    height: 33px;
    background-color: rgb(185, 122, 87);
}
.addressText {
    font-size: x-large;
    margin-bottom: 5px;
}
.address {
    background-color: rgb(213, 181, 134);
    display: inline;
}
.price {
    background-color: rgb(196, 140, 111);
    display: inline;
    margin-left: 10px;
}
.row {
    background-color: rgb(213, 181, 134);
    height: 30px;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.index {
    background-color: rgb(213, 181, 134);
    display: inline;
    margin-right: 10px;
}
.enemyAddressesList {
    margin-left: auto;
    margin-right: auto;
    display: inline-table;
    margin-top: 20px;
}
.back {
    position: absolute;
}
body {
    background-color: #000000;
}